<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <!-- AGREGADO para recuperación de contraseña. -->
        <add key="SmtpServidor" value="smtp.gmail.com" />
        <add key="SmtpPuerto" value="587" />
        <add key="SmtpUsuario" value="terminus.seguridad22026@gmail.com" />
        <add key="SmtpContrasenaApp" value="skvq oirl ebts ceaa" />
    </appSettings>
</configuration>
